{% extends "base.html" %}

{% block title %}Home - dotne1's Cybersecurity Portfolio{% endblock %}

{% block content %}
<h1 class="main-header">Hub</h1>
<div class="glitch" data-text="dotne1 // hacker // codebreaker // reverse engineer">dotne1 // hacker // codebreaker // reverse engineer</div>
<div class="search-bar">
    <input type="text" id="searchInput" placeholder="Search bookmarks..." onkeyup="searchBookmarks()" aria-label="Search bookmarks">
</div>
<div class="section">
    <h2>Blue Team</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://www.crowdstrike.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=crowdstrike.com" alt="favicon">Crowdstrike</a></div>
        <div class="bookmark"><a href="https://www.cyberdefensemagazine.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=cyberdefensemagazine.com" alt="favicon">Cyber Defense Magazine</a></div>
        <div class="bookmark"><a href="https://www.elastic.co/security" target="_blank"><img src="https://www.google.com/s2/favicons?domain=elastic.co" alt="favicon">Elastic Security</a></div>
        <div class="bookmark"><a href="https://www.graylog.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=graylog.org" alt="favicon">Graylog</a></div>
        <div class="bookmark"><a href="https://attack.mitre.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=mitre.org" alt="favicon">MITRE ATT&CK</a></div>
        <div class="bookmark"><a href="https://www.tenable.com/products/nessus" target="_blank"><img src="https://www.google.com/s2/favicons?domain=tenable.com" alt="favicon">Nessus Essentials</a></div>
        <div class="bookmark"><a href="https://www.ossec.net/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=ossec.net" alt="favicon">OSSEC</a></div>
        <div class="bookmark"><a href="https://www.snort.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=snort.org" alt="favicon">Snort</a></div>
        <div class="bookmark"><a href="https://www.splunk.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=splunk.com" alt="favicon">Splunk</a></div>
        <div class="bookmark"><a href="https://suricata.io/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=suricata.io" alt="favicon">Suricata</a></div>
        <div class="bookmark"><a href="https://thehive-project.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=thehive-project.org" alt="favicon">TheHive</a></div>
        <div class="bookmark"><a href="https://wazuh.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=wazuh.com" alt="favicon">Wazuh</a></div>
        <div class="bookmark"><a href="https://www.wireshark.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=wireshark.org" alt="favicon">Wireshark</a></div>
        <div class="bookmark"><a href="https://zeek.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=zeek.org" alt="favicon">Zeek</a></div>
    </div>
</div>
<div class="section">
    <h2>Collaboration & Community</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://discord.com/users/215726195139018752" target="_blank"><img src="https://www.google.com/s2/favicons?domain=discord.com" alt="favicon">Discord (roctz)</a></div>
        <div class="bookmark"><a href="https://github.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=github.com" alt="favicon">GitHub</a></div>
        <div class="bookmark"><a href="https://hackaday.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=hackaday.com" alt="favicon">Hackaday</a></div>
        <div class="bookmark"><a href="https://medium.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=medium.com" alt="favicon">Medium</a></div>
        <div class="bookmark"><a href="https://www.reddit.com/r/netsec/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=reddit.com" alt="favicon">Reddit (r/netsec)</a></div>
        <div class="bookmark"><a href="https://twitter.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=twitter.com" alt="favicon">X</a></div>
    </div>
</div>
<div class="section">
    <h2>Crypto</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://www.binance.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=binance.com" alt="favicon">Binance</a></div>
        <div class="bookmark"><a href="https://bitcoin.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=bitcoin.org" alt="favicon">Bitcoin</a></div>
        <div class="bookmark"><a href="https://www.blockchain.com/explorer" target="_blank"><img src="https://www.google.com/s2/favicons?domain=blockchain.com" alt="favicon">Blockchain Explorer</a></div>
        <div class="bookmark"><a href="https://crypto.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=crypto.com" alt="favicon">Crypto.com</a></div>
        <div class="bookmark"><a href="https://dogecoin.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=dogecoin.com" alt="favicon">Dogecoin</a></div>
        <div class="bookmark"><a href="https://electrum.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=electrum.org" alt="favicon">Electrum</a></div>
        <div class="bookmark"><a href="https://ethereum.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=ethereum.org" alt="favicon">Ethereum</a></div>
        <div class="bookmark"><a href="https://www.getmonero.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=getmonero.org" alt="favicon">Monero</a></div>
        <div class="bookmark"><a href="https://ripple.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=ripple.com" alt="favicon">XRP</a></div>
        <div class="bookmark"><a href="https://xmrig.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=xmrig.com" alt="favicon">XMRig</a></div>
    </div>
</div>
<div class="section">
    <h2>Development & Docs</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://aws.amazon.com/console/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=aws.amazon.com" alt="favicon">AWS Console Login</a></div>
        <div class="bookmark"><a href="https://docs.docker.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=docker.com" alt="favicon">Docker</a></div>
        <div class="bookmark"><a href="https://developer.mozilla.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=mozilla.org" alt="favicon">MDN Web Docs</a></div>
        <div class="bookmark"><a href="https://www.python.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=python.org" alt="favicon">Python</a></div>
        <div class="bookmark"><a href="https://www.raspberrypi.com/documentation/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=raspberrypi.com" alt="favicon">Pi Documentation</a></div>
        <div class="bookmark"><a href="https://www.rust-lang.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=rust-lang.org" alt="favicon">Rust</a></div>
        <div class="bookmark"><a href="https://stackoverflow.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=stackoverflow.com" alt="favicon">StackOverflow</a></div>
        <div class="bookmark"><a href="https://www.w3schools.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=w3schools.com" alt="favicon">W3Schools</a></div>
        <div class="bookmark"><a href="https://ziglang.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=ziglang.org" alt="favicon">Zig</a></div>
    </div>
</div>
<div class="section">
    <h2>Distros</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://archlinux.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=archlinux.org" alt="favicon">Arch Linux</a></div>
        <div class="bookmark"><a href="https://blackarch.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=blackarch.org" alt="favicon">BlackArch</a></div>
        <div class="bookmark"><a href="https://www.debian.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=debian.org" alt="favicon">Debian</a></div>
        <div class="bookmark"><a href="https://www.kali.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=kali.org" alt="favicon">Kali Linux</a></div>
        <div class="bookmark"><a href="https://linuxmint.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=linuxmint.com" alt="favicon">Mint OS</a></div>
        <div class="bookmark"><a href="https://parrotsec.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=parrotsec.org" alt="favicon">Parrot Security OS</a></div>
        <div class="bookmark"><a href="https://www.qubes-os.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=qubes-os.org" alt="favicon">Qubes OS</a></div>
        <div class="bookmark"><a href="https://www.raspberrypi.com/software/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=raspberrypi.com" alt="favicon">RaspbianOS</a></div>
        <div class="bookmark"><a href="https://tails.net/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=tails.net" alt="favicon">Tails OS</a></div>
        <div class="bookmark"><a href="https://ubuntu.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=ubuntu.com" alt="favicon">Ubuntu OS</a></div>
        <div class="bookmark"><a href="https://www.whonix.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=whonix.org" alt="favicon">Whonix</a></div>
    </div>
</div>
<div class="section">
    <h2>Gaming</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://ao.tinkeringidiot.com/tinkerfite/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=tinkeringidiot.com" alt="favicon">Anarchy Online TinkerFite</a></div>
        <div class="bookmark"><a href="https://maxroll.gg/poe/currency/blight-currency-strategy" target="_blank"><img src="https://www.google.com/s2/favicons?domain=maxroll.gg" alt="favicon">PoE Blight Guide</a></div>
        <div class="bookmark"><a href="https://www.pathofexile.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=pathofexile.com" alt="favicon">Path of Exile</a></div>
        <div class="bookmark"><a href="https://store.steampowered.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=steampowered.com" alt="favicon">Steam</a></div>
    </div>
</div>
<div class="section">
    <h2>Government & Military</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://www.cybercom.mil/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=cybercom.mil" alt="favicon">Cyber Command</a></div>
        <div class="bookmark"><a href="https://www.disa.mil/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=disa.mil" alt="favicon">DISA</a></div>
        <div class="bookmark"><a href="https://www.nsa.gov/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=nsa.gov" alt="favicon">NSA</a></div>
        <div class="bookmark"><a href="https://www.spaceforce.mil/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=spaceforce.mil" alt="favicon">US Space Force</a></div>
    </div>
</div>
<div class="section">
    <h2>Hacking Resources</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://www.bugcrowd.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=bugcrowd.com" alt="favicon">Bugcrowd</a></div>
        <div class="bookmark"><a href="https://portswigger.net/burp" target="_blank"><img src="https://www.google.com/s2/favicons?domain=portswigger.net" alt="favicon">Burp Suite</a></div>
        <div class="bookmark"><a href="https://ctftime.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=ctftime.org" alt="favicon">CTFtime</a></div>
        <div class="bookmark"><a href="https://github.com/digininja/DVWA" target="_blank"><img src="https://www.google.com/s2/favicons?domain=github.com" alt="favicon">DVWA</a></div>
        <div class="bookmark"><a href="https://www.freecodecamp.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=freecodecamp.org" alt="favicon">FreeCodeCamp</a></div>
        <div class="bookmark"><a href="https://github.com/dotne1/Hacker-Roadmap" target="_blank"><img src="https://www.google.com/s2/favicons?domain=github.com" alt="favicon">Hacker Roadmap</a></div>
        <div class="bookmark"><a href="https://www.hackerone.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=hackerone.com" alt="favicon">HackerOne</a></div>
        <div class="bookmark"><a href="https://hak5.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=hak5.org" alt="favicon">Hak5</a></div>
        <div class="bookmark"><a href="https://app.hackthebox.com/starting-point" target="_blank"><img src="https://www.google.com/s2/favicons?domain=hackthebox.com" alt="favicon">Hack The Box</a></div>
        <div class="bookmark"><a href="https://www.openwall.com/john/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=openwall.com" alt="favicon">John The Ripper</a></div>
        <div class="bookmark"><a href="https://www.metasploit.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=metasploit.com" alt="favicon">Metasploit</a></div>
        <div class="bookmark"><a href="https://nahamsec.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=nahamsec.com" alt="favicon">Nahamsec</a></div>
        <div class="bookmark"><a href="https://owasp.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=owasp.org" alt="favicon">OWASP</a></div>
        <div class="bookmark"><a href="https://overthewire.org/wargames" target="_blank"><img src="https://www.google.com/s2/favicons?domain=overthewire.org" alt="favicon">OverTheWire</a></div>
        <div class="bookmark"><a href="https://github.com/swisskyrepo/PayloadsAllTheThings" target="_blank"><img src="https://www.google.com/s2/favicons?domain=github.com" alt="favicon">PayloadsAllTheThings</a></div>
        <div class="bookmark"><a href="https://tryhackme.com/dashboard" target="_blank"><img src="https://www.google.com/s2/favicons?domain=tryhackme.com" alt="favicon">TryHackMe</a></div>
        <div class="bookmark"><a href="https://vx-underground.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=vx-underground.org" alt="favicon">Vx Underground</a></div>
    </div>
</div>
<div class="section">
    <h2>Hardware & Shopping</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://www.adafruit.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=adafruit.com" alt="favicon">Adafruit</a></div>
        <div class="bookmark"><a href="https://www.aliexpress.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=aliexpress.com" alt="favicon">AliExpress</a></div>
        <div class="bookmark"><a href="https://www.newegg.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=newegg.com" alt="favicon">Newegg</a></div>
        <div class="bookmark"><a href="https://www.raspberrypi.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=raspberrypi.com" alt="favicon">RaspberryPi</a></div>
        <div class="bookmark"><a href="https://www.sparkfun.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=sparkfun.com" alt="favicon">SparkFun</a></div>
    </div>
</div>
<div class="section">
    <h2>Learning & Certifications</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://www.eccouncil.org/programs/certified-ethical-hacker-ceh/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=eccouncil.org" alt="favicon">CEH</a></div>
        <div class="bookmark"><a href="https://www.comptia.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=comptia.org" alt="favicon">CompTIA</a></div>
        <div class="bookmark"><a href="https://www.pluralsight.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=pluralsight.com" alt="favicon">Pluralsight</a></div>
        <div class="bookmark"><a href="https://www.sans.org/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=sans.org" alt="favicon">SANS</a></div>
    </div>
</div>
<div class="section">
    <h2>News & Blogs</h2>
    <div class="bookmark-list">
        <div class="bookmark"><a href="https://www.bleepingcomputer.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=bleepingcomputer.com" alt="favicon">Bleeping Computer</a></div>
        <div class="bookmark"><a href="https://www.darkreading.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=darkreading.com" alt="favicon">Dark Reading</a></div>
        <div class="bookmark"><a href="https://www.krebsonsecurity.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=krebsonsecurity.com" alt="favicon">Krebs on Security</a></div>
        <div class="bookmark"><a href="https://www.thehackernews.com/" target="_blank"><img src="https://www.google.com/s2/favicons?domain=thehackernews.com" alt="favicon">The Hacker News</a></div>
    </div>
</div>
{% endblock %}